<!--  -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Adding Patient to the Database</title>
		<link href="/medicalFinal.css" rel="stylesheet" />
	</head>
	<body>
		<h1>Adding a New Patient</h1>
		<p> Please enter in the patient's information here. </p>
		<input type = "text" style = "display:none" name = "messageText" size = "60" id = "messageText" readonly>
		<form name="addForm" th:object="${newPatientProfile}" th:action="@{/addPatientProfile}" method ='POST'>
			First Name: <input name="firstName" id="firstName" size="35" maxlength="50" required> <br />
			Last Name: <input name="lastName" id="lastName" size="35" maxlength="50" required> <br />
			Birthday: <input type="date" name="birthdate" size="20" min="1950-12-31" required> <br />
			Email: <input type="email" name="email" id="email" maxlength="100" size="20" required> <br />
			Phone Number: <input type="number" name="phone" id="phone" size="20" minlength="10" maxlength="10" required> <br />
			<input name="submit" type="submit" value="submit" />
		</form>
	<br />
	<br />
	<a th:href="@{/}">Home</a>
	</body>
</html>