<!--  -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Make Appointment</title>
		<link rel="stylesheet" href="medicalFinal.css">
	</head>
	<body>
		<input type = "text" style = "display:none" name = "messageText" size = "60" id = "messageText" readonly>
		<form name="apptForm" th:object="${newAppointment}" th:action="@{/addAppointment}" method ='POST'>
			Patient ID: <input type="number" name="patientProfile" id="patientProfile" size="35" maxlength="50" required> <br />
			Date/Time: <input type="datetime-local" name="dateTimeInput" id="dateTimeInput" size="35" required> <br />
			Doctor: <select th:field="*{doctorProfile}">
			   <option th:each="doc:${docDrop}" th:value="${doc.doctorID}" th:text="${doc.firstName +' '+ doc.lastName}">S</option>
			</select><br />
			<input type="hidden" id="dateTime" name="dateTime" />
			<input onclick="formatDateTime()" name="submit" type="submit" value="submit" />
		</form>
		<script>
			function formatDateTime() {
				var x = document.getElementById("dateTimeInput").value;
				var y = x.split('T')[0] + ' ' + x.split('T')[1] + ':00';
				document.getElementById("dateTime").value = y;
			}
		</script>
	</body>
</html>