<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>View Doctor Profiles</title>
		<link href="/medicalFinal.css" rel="stylesheet" />
	<body>
		<ul>
  			<li><a th:href="@{/}">Home</a></li>
  			<li><a href="/addPatientProfile">Add a New Patient</a></li>
  			<li><a href="/viewAllPatientProfiles">View All Patients</a></li>
  			<li> &nbsp;&nbsp; </li>
  			<li><a href="/addAppointment">Make an Appointment</a></li>
  			<li><a href="/viewAppointments">View All Appointments</a></li>
  			<li> &nbsp;&nbsp; </li>
  			<li><a href="/addDoctorProfile">Add a New Doctor</a></li>
  			<li><a href="/viewAllDoctorProfiles" class="active">View All Doctors</a></li>
  			<li><a href="/viewAllDoctorAppointments">View All Doctors Appointments</a></li>
		</ul>
		<br /><br />

		<h1>Doctors</h1>
		<form>
			<table>
				<tr>
					<td> Doctor First Name</td>
					<td> Doctor Last Name </td>
					<td> Doctor Email </td>
					<td> Doctor Phone Number </td>
					<td> Edit Info.</td>
					<td> Delete Info.</td>
				</tr>
				<tr th:each="currentDoctors : ${doctorProfiles}">
					<td th:text="${currentDoctors.firstName}" />
					<td th:text="${currentDoctors.lastName}" />
					<td th:text="${currentDoctors.email}" />
					<td th:text="${currentDoctors.phone}" />
				<td><a th:href="@{/editDoctor/{doctorID}(doctorID=${currentDoctors.doctorID})}">Edit</a></td>
					<td><a th:href="@{/deleteDoctor/{doctorID}(doctorID=${currentDoctors.doctorID})}">Delete</a></td>
				</tr>
			</table>
		</form>
	</body>
</html>