<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Update Appointments</title>
		<link href="/medicalFinal.css" rel="stylesheet" />
	</head>
	<body>
		<ul>
  			<li><a th:href="@{/}">Home</a></li>
  			<li><a href="/addPatientProfile">Add a New Patient</a></li>
  			<li><a href="/viewAllPatientProfiles">View All Patients</a></li>
  			<li> &nbsp;&nbsp; </li>
  			<li><a href="/addAppointment">Make an Appointment</a></li>
  			<li><a href="/viewAppointments">View All Appointments</a></li>
  			<li> &nbsp;&nbsp; </li>
  			<li><a href="/addDoctorProfile">Add a New Doctor</a></li>
  			<li><a href="/viewAllDoctorProfiles">View All Doctors</a></li>
  			<li><a href="/viewAllDoctorAppointments">View All Doctors Appointments</a></li>
		</ul>
		<br /><br />

		<h1>Update Appointment Info.</h1>
		<p>Please update any information as needed.</p>
		<form action="#" th:action="@{/updateappts/{id}(id=${appointments.id})}" th:object="${appointments}" method="POST">
			
			Date/Time: <input type="datetime-local" name="dateTimeInput" id="dateTimeInput" size="35" required> <br />
			Doctor: <select th:field="*{doctorProfile}">
			   <option th:each="doc:${docDrop}" th:value="${doc.doctorID}" th:text="${doc.firstName +' '+ doc.lastName}"></option>
			</select><br />
			<input type="hidden" id="dateTime" name="dateTime" />
			<input onclick="formatDateTime()" type="submit" value="Update Appointment">
			<input readonly type="hidden" name="patientProfile" id="patientProfile" th:value="${appointments.patientProfile.patientID}" size="35" maxlength="50"> <br />
		</form>
		<script>
			function formatDateTime() 
			{
				var x = document.getElementById("dateTimeInput").value;
				var y = x.split('T')[0] + ' ' + x.split('T')[1] + ':00';
				document.getElementById("dateTime").value = y;
			}
		</script>
	</body>
</html>